
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <p>all-transactions works!</p>
  <div class="container pt-5">
    <div class="mb-3" style="text-align:right">
      <!-- [routerLink]="['/transaction-specific',10,1]" -->
      <a [routerLinkActive]="['link-active']" [routerLink]="['/transaction-specific',TransCode,1]" (click)="setAddOperation()" style="text-align:right" class="btn btn-outline-primary">
        اضافة حركة جديدة
        <svg width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
        </svg>
      </a>

    </div>
    <div class="main">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table  table-bordered table-hover" style="width:100%;border-color:#aaa8a8">
        <thead style="border-color:#aaa8a8">
          <tr style="text-align:right">
            <th style="text-align:center">عرض التفاصيل</th>
            <th>تاريخ</th>
            <th style="text-align:center">
              <span>الى</span>
              <div class="row">
                <div class="col-6">الاسم</div>
                <div class="col-6">النوع</div>
              </div>
            </th>
            <th style="text-align:center">
              <span>من</span>
              <br />
              <div class="row">
                <div class="col-6">الاسم</div>
                <div class="col-6">النوع</div>
              </div>
            </th>
            <th>الفرع</th>
            <th>كود الحركه</th>
          </tr>
        </thead>
        <tbody style="border-color:#aaa8a8">
          <tr style="text-align:right" *ngFor="let trans of alltransactions">
            <td style="text-align:center">
              <a class="btn btn-outline-info" [routerLink]="['/transaction-specific',TransCode,1]" (click)="setViewOperation(trans.StoreTrnsMId)" title="عرض التفاصيل">

                <svg width="18" height="18" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16" >
                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                </svg>
              </a>
            </td>
            <td style="color:#130a80;text-decoration:underline">{{trans.TrnsDate}}</td>
            <td>
              <div class="row">
                <div class="col-6">{{trans.To_StoreAllcodesName}}</div>
                <div class="col-6">{{trans.TO_TypeName}}</div>
              </div>
            </td>
            <td>
              <div class="row">
                <div class="col-6">{{trans.From_StoreAllcodesName}}</div>
                <div class="col-6">{{trans.From_TypeName}}</div>
              </div>
            </td>
            <td>{{trans.branch}}</td>
            <td class="text-center">{{trans.TrnsNo}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>





  <router-outlet></router-outlet>
</body>
</html>


