
<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
  <meta charset="utf-8">
  <link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet" />

  <link href="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" rel="stylesheet" />

  <link href="https://cdn.syncfusion.com/ej2/ej2-inputs/styles/material.css" rel="stylesheet" />

  <link href="https://cdn.syncfusion.com/ej2/ej2-popups/styles/material.css" rel="stylesheet" />

  <link href="https://cdn.syncfusion.com/ej2/ej2-lists/styles/material.css" rel="stylesheet" />

  <link href="https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css" rel="stylesheet" />
  <style>
    .e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left),
    .e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap,
    .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left),
    .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap,
    .e-float-input.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap,
    .e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap {
      border-color:#24971f;
    }


  </style>
</head>

<body>
  <div class="container">

    <div class="alert alert-info">
    <h3  style="text-align:center"><span name="TrnsCode"
     [innerHTML]="TransactionSpecific.TrnsCode"></span>&nbsp;&nbsp;<span name="Aname" [innerHTML]="TransactionSpecific.Aname">
      {{TransactionSpecific.Aname}}</span></h3>
    </div>

    <div class="modal-content p-3 mb-4" style="font-size:14px">
      <form #transForm="ngForm">


        <!--Date And DocNumber-->
        <div class="row col-12">

          <div class="form-group row col-6">
            <label class="col-sm-3 col-form-label" style="text-align:right">الفرع</label>
            <div class="col-sm-8">
              <!--<select name="branchId" [(ngModel)]="branchId" class="form-control" style="text-align:right">
          <option *ngFor="let item of Branches" [value]="item.BRANCH_ID">{{item.NAME}}</option>
        </select>-->
              <ng-select bindLabel="NAME"
                         name="branchId"
                         placeholder="...اختر"
                         appendTo="body"
                         [searchable]="true" [clearable]="true"
                         [(ngModel)]="branchId"
                         (change)="getvalue()" #brnchid="ngModel"
                         required [class.is-valid]="brnchid.valid" [class.is-invalid]="brnchid.invalid&&brnchid.touched">
                <ng-option [value]="item.BRANCH_ID" [disabled]="item.disabled" *ngFor="let item of Branches">
                  {{item.NAME}}
                </ng-option>
              </ng-select>

            </div>
          </div>


          <div class="form-group row col-6 mr-4">
            <label for="inputPassword" class="col-sm-4 col-form-label" style="text-align:right">التاريخ</label>
            <div class="col-sm-8 ">
              <ejs-datetimepicker name="Datevalue" id='datetimepicker'
                                  placeholder='التاريـــــخ' [(ngModel)]="Datevalue" [min]='minDate' [max]='maxDate' required>
              </ejs-datetimepicker>
            </div>


          </div>
        </div>



        <!--Numbers Doc And Transc-->
        <div class="row col-12">
          <div class="form-group row col-6">
            <label for="storedocnum" class="col-sm-3 col-form-label" style="text-align:right">الرقم الدفترى</label>
            <div class="col-sm-8">
              <input #storedocno="ngModel" class="form-control" id="storedocnum" name="storedocnum" [value]="storedocnum"
                     [(ngModel)]="storedocnum" type="number" required min="0"
                     [class.is-valid]="storedocno.valid" [class.is-invalid]="storedocno.invalid&&storedocno.touched">

            </div>

          </div>
          <div class="form-group row col-6 mr-4">
            <label for="storeTransMax" class="col-sm-4 col-form-label" style="text-align:right">رقم {{TransactionSpecific.Aname}}</label>
            <div class="col-sm-8">
              <input class="form-control" id="storeTransMax" name="storeTransMax" [value]="storeTransMax" [(ngModel)]="storeTransMax" readonly>
            </div>
          </div>
        </div>





        <!-- من , -->
        <div class="row col-12" *ngIf="TransactionSpecific.TransactionMasterSpec_VM.From_Type?.length > 0||TransactionSpecific.TransactionMasterSpec_VM.FromTypeDetails?.length > 0">
          <div class="form-group row col-6" *ngIf="TransactionSpecific.TransactionMasterSpec_VM.From_Type!=null">
            <label for="FromTypeId" class="col-sm-3 col-form-label" style="text-align:right">من</label>
            <div class="col-sm-8">
              <ng-select bindLabel="TYPE_NAME"
                         name="FromTypeId"
                         placeholder="...اختر"
                         appendTo="body"
                         [searchable]="true"
                         [clearable]="true"
                         [(ngModel)]="FromTypeId" #From="ngModel" required>
                <ng-option [value]="item.TYPE_ID" [disabled]="item.disabled" *ngFor="let item of FromType">

                  {{item.TYPE_NAME}}
                </ng-option>
              </ng-select>

            </div>

          </div>

          <div class="form-group row col-6 mr-4" *ngIf="TransactionSpecific.TransactionMasterSpec_VM.FromTypeDetails!=null">
            <label class="col-sm-4 col-form-label" style="text-align:right">تفاصيل من</label>
            <div class="col-sm-8">
              <ng-select bindLabel="Aname"
                         name="fromStoreAllcodesId"
                         placeholder="...اختر"
                         appendTo="body"
                         [searchable]="true"
                         [clearable]="true"
                         [(ngModel)]="fromStoreAllcodesId" #FromDetails="ngModel" required>
                <ng-option [value]="item.StoreAllcodesId" [disabled]="item.disabled" *ngFor="let item of FromTypeDetails">

                  {{item.Aname}}
                </ng-option>
              </ng-select>
            </div>

          </div>
        </div>



        <!--[ngClass]="{'mr-4': TransactionSpecific.From_Type?.length > 0 }">
  [ngClass]="TransactionSpecific.From_Type?.length > 0 ? 'col-sm-4' : 'col-sm-3'">-->
        <!--To-->
        <div class="row col-12" *ngIf="TransactionSpecific.TransactionMasterSpec_VM.To_Type?.length > 0||TransactionSpecific.TransactionMasterSpec_VM.ToTypeDetails!=null">
          <div class="form-group row col-6 " *ngIf="TransactionSpecific.TransactionMasterSpec_VM.To_Type?.length > 0">
            <label for="ToTypeId" class="col-sm-3 col-form-label" style="text-align:right">الى</label>
            <div class="col-sm-8">
              <ng-select bindLabel="TYPE_NAME"
                         name="ToTypeId"
                         placeholder="...اختر"
                         appendTo="body"
                         [searchable]="true"
                         [clearable]="true"
                         [(ngModel)]="ToTypeId" #to="ngModel" required>
                <ng-option [value]="item.TYPE_ID" [disabled]="item.disabled" *ngFor="let item of ToType">
                  {{item.TYPE_NAME}}
                </ng-option>
              </ng-select>
            </div>
          </div>

          <div class="form-group row col-6 mr-4" *ngIf="TransactionSpecific.TransactionMasterSpec_VM.ToTypeDetails!=null">
            <label class="col-sm-4 col-form-label" style="text-align:right">تفاصيل الي</label>
            <div class="col-sm-8">
              <ng-select bindLabel="Aname"
                         name="ToTypeDetailsId"
                         placeholder="...اختر"
                         appendTo="body"
                         [searchable]="true"
                         [clearable]="true"
                         [(ngModel)]="ToTypeDetailsId" #toDetails="ngModel" required>
                <ng-option [value]="item.StoreAllcodesId" [disabled]="item.disabled" *ngFor="let item of ToTypeDetails">

                  {{item.Aname}}
                </ng-option>
              </ng-select>
            </div>
          </div>
        </div>


        <div class="form-group row">
          <label for="Rem" class="col-sm-2 col-form-label" style="text-align:right">ملاحظات</label>
          <div class="col-sm-9" style="text-align:right;padding-left:0%;margin-left:1%">
            <textarea class="form-control" [(ngModel)]="Rem" id="Rem" name="Rem"></textarea>
          </div>
        </div>

        <div class="text-right" dir="rtl">
          <button dir="rtl" class="btn btn-info text-right form-group row" *ngIf="TransactionSpecific.TransactionDepSpec_VM.TransactionsNames?.length <=0 && ItemsAvailable==true"
                  style="border-bottom-width: 5px; border-right-width: 4px; margin-bottom: -47px;" title="لاضافة اصنافــــ" mat-raised-button (click)="openCategoryDialog()">
            الاصناف

            <svg width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill mr-1" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
            </svg>
          </button>
        </div>


        <hr />
        <br />
        <!--<h5 style="text-align:right">تفاصيل المحصول</h5>
  <br />

  <div class="form-group row" *ngIf="TransactionSpecific.Typeid==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">نوع المحصول</label>
    <div class="col-sm-9">
      <div class="row">
        <div class="col">
          <select id="inputState" class="form-control" style="text-align:right">
            <option selected></option>
            <option>...</option>
          </select>
        </div>
        <div class="col">
          <select id="inputState" class="form-control" style="text-align:right">
            <option selected></option>
            <option>...</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="TransactionSpecific.Irrigationneed==true" style="text-align:right">
    هل التسميد يستوجب الري
    <div class="form-check" style="margin-right:25%">
      نعم
      <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="نعم">
    </div>

    <div class="form-check" style="margin-right:25%">
      لا
      <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="لا" style="margin-right:1.7%">
    </div>
  </div>



  <div class="row col-12" *ngIf="TransactionSpecific.Weathercond==true||TransactionSpecific.Agridataid==true">
    <div class="form-group row col-6" *ngIf="TransactionSpecific.Weathercond==true">
      <label class="col-sm-3 col-form-label" style="text-align:right">حالة الطقس</label>
      <div class="col-sm-8">
        <select id="inputState" class="form-control" style="text-align:right">
          <option selected></option>
          <option>...</option>
        </select>
      </div>
    </div>


    <div class="form-group row col-6 mr-4" *ngIf="TransactionSpecific.Agridataid==true">
      <label class="col-sm-4 col-form-label" style="text-align:right">اسم الزرعه</label>
      <div class="col-sm-8">
        <select id="inputState" class="form-control" style="text-align:right">
          <option selected></option>
          <option>...</option>
        </select>
      </div>
    </div>
  </div>



  <div class="row col-12" *ngIf="TransactionSpecific.Managername==true||TransactionSpecific.Employeeno==true">
    <div class="form-group row col-6" *ngIf="TransactionSpecific.Managername==true">
      <label class="col-sm-3 col-form-label" style="text-align:right">اسم المسئول</label>
      <div class="col-sm-8">
        <input class="form-control" type="text">
      </div>
    </div>

    <div class="form-group row col-6 mr-4" *ngIf="TransactionSpecific.Employeeno==true">
      <label class="col-sm-4 col-form-label" style="text-align:right">عدد العمال</label>
      <div class="col-sm-8">
        <input class="form-control" type="text">
      </div>
    </div>
  </div>


  <div class="row col-12">
    <div class="form-group row col-6" *ngIf="TransactionSpecific.Irrigatemachine==true">
      <label class="col-sm-3 col-form-label" style="text-align:right">ماكينة الري</label>
      <div class="col-sm-8">
        <input class="form-control" type="text">
      </div>
    </div>


    <div class="form-group row col-6 mr-4" *ngIf="TransactionSpecific.Soilcond==true">
      <label class="col-sm-4 col-form-label" style="text-align:right">حالة التربة</label>
      <div class="col-sm-8">
        <select id="inputState" class="form-control" style="text-align:right">
          <option selected></option>
          <option>...</option>
        </select>
      </div>
    </div>
  </div>
  <hr />




  <h5 style="text-align:right">تفاصيل الاستلام</h5>
  <br />




  <div class="form-group row" *ngIf="TransactionSpecific.Receivedate==true">
    <label for="inputPassword" class="col-sm-3 col-form-label" style="text-align:right">تاريخ الاستلام</label>
    <div class="col-sm-9">
      <ejs-datetimepicker id='datetimepicker' placeholder='Select a date' [value]='dateValue' [min]='minDate' [max]='maxDate' style="width:90%"></ejs-datetimepicker>
    </div>
  </div>



  <div class="form-group row" *ngIf="TransactionSpecific.Paymenttype==true">
    <label for="inputState" class="col-sm-3 col-form-label" style="text-align:right">طريقة السداد</label>
    <div class="col-sm-9">
      <select id="inputState" class="form-control" style="text-align:right">
        <option selected>ad</option>
        <option>...</option>
      </select>
    </div>
  </div>



  <div class="form-group row" *ngIf="TransactionSpecific.Deliveryplace==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">مكان التسليم</label>
    <div class="col-sm-9">
      <input class="form-control" type="text">
    </div>
  </div>
  <hr />
  <h5 style="text-align:right">تفاصيل وصول الشجنة</h5>

  <div class="form-group row" *ngIf="TransactionSpecific.Cargoexpected==true">
    <label for="inputPassword" class="col-sm-3 col-form-label" style="text-align:right">تاريخ وصول أوراق الشحنة</label>
    <div class="col-sm-9">
      <ejs-datetimepicker id='datetimepicker' placeholder='Select a date' [value]='dateValue' [min]='minDate' [max]='maxDate' style="width:90%"></ejs-datetimepicker>
    </div>
  </div>



  <div class="form-group row" *ngIf="TransactionSpecific.Cargoactually==true">
    <label for="inputPassword" class="col-sm-3 col-form-label" style="text-align:right">التاريخ الفعلي لوصول أوراق الشحنه</label>
    <div class="col-sm-9">
      <ejs-datetimepicker id='datetimepicker' placeholder='Select a date' [value]='dateValue' [min]='minDate' [max]='maxDate' style="width:90%"></ejs-datetimepicker>
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.Portarrival==true">
    <label for="inputPassword" class="col-sm-3 col-form-label" style="text-align:right">تاريخ وصول الميناء</label>
    <div class="col-sm-9">
      <ejs-datetimepicker id='datetimepicker' placeholder='Select a date' [value]='dateValue' [min]='minDate' [max]='maxDate' style="width:90%"></ejs-datetimepicker>
    </div>
  </div>



  <div *ngIf="TransactionSpecific.Cargopaper==true" style="text-align:right">
    حالة وصول أوراق الشحنة
    <div class="form-check" style="margin-right:25%">
      نعم
      <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="نعم">
    </div>

    <div class="form-check" style="margin-right:25%">
      لا
      <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="لا" style="margin-right:1.7%">
    </div>
  </div>
  <hr />



  <h5 style="text-align:right"> الحساب</h5>
  <br />


  <div class="form-group row" *ngIf="TransactionSpecific.MainAccount==1">
    <label class="col-sm-3 col-form-label" style="text-align:right">الحساب</label>
    <div class="col-sm-9">
      <input class="form-control" type="text">
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.MainCostCenter==1">
    <label class="col-sm-3 col-form-label" style="text-align:right">مركز التكلفة</label>
    <div class="col-sm-9">
      <select id="inputState" class="form-control" style="text-align:right">
        <option selected></option>
        <option>...</option>
      </select>
    </div>
  </div>


  <hr />
  <h5 style="text-align:right">تفاصيل الشحن</h5>
  <br />


  <div class="form-group row" *ngIf="TransactionSpecific.Shippolino==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">رقم بوليصة الشحن</label>
    <div class="col-sm-9">
      <input class="form-control" type="text">
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.Shipweekno==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">رقم الاسبوع	</label>
    <div class="col-sm-9">
      <input class="form-control" type="text">
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.Patchno==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">رقم التشغيله	</label>
    <div class="col-sm-9">
      <input class="form-control" type="text">
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.Shiplotno==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">رقم اللوط	</label>
    <div class="col-sm-9">
      <input class="form-control" type="text">
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.SHIPCO==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">شركة الشحن</label>
    <div class="col-sm-9">
      <select id="inputState" class="form-control" style="text-align:right">
        <option selected></option>
        <option>...</option>
      </select>
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.Shiptrns==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">شركة النقل</label>
    <div class="col-sm-9">
      <select id="inputState" class="form-control" style="text-align:right">
        <option selected></option>
        <option>...</option>
      </select>
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.Clearanceco==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">شركة تخليص</label>
    <div class="col-sm-9">
      <select id="inputState" class="form-control" style="text-align:right">
        <option selected></option>
        <option>...</option>
      </select>
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.Shipport==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">ميناء الشحن</label>
    <div class="col-sm-9">
      <select id="inputState" class="form-control" style="text-align:right">
        <option selected></option>
        <option>...</option>
      </select>
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.Arrivalport==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">ميناء الوصول</label>
    <div class="col-sm-9">
      <select id="inputState" class="form-control" style="text-align:right">
        <option selected></option>
        <option>...</option>
      </select>
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.Shipboat==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">اسم مركب الشحن</label>
    <div class="col-sm-9">
      <select id="inputState" class="form-control" style="text-align:right">
        <option selected></option>
        <option>...</option>
      </select>
    </div>
  </div>-->



        <div class="form-group row" *ngIf="TransactionSpecific.TransactionDepSpec_VM.TransactionsNames?.length > 0">
          <label class="col-sm-2 col-form-label" style="text-align:right">يعتمد على</label>
          <div class="col-sm-7">
            <!--<select id="my_select" name="transDepCode" class="form-control" style="text-align:right" [(ngModel)]="transDepCode" (change)="selectChangeHandler()">
        <option *ngFor="let item of DepTransactionNames" [value]="item.Transaction_Id">{{item.Transaction_Name}}</option>
      </select>-->

            <ng-select bindLabel="Transaction_Name"
                       name="transDepCode"
                       placeholder="...اختر"
                       [searchable]="true"
                       [clearable]="false"
                       [(ngModel)]="transDepCode"
                       (change)="selectChangeHandler()" #depOn="ngModel" required>
              <ng-option [value]="item.Transaction_Id" [disabled]="item.disabled" *ngFor="let item of DepTransactionNames">

                {{item.Transaction_Name}}
              </ng-option>
            </ng-select>
          </div>
          <div class="col-sm-2">
            <!-- open dialog button -->
            <button *ngIf="selectedTransaction!=null" mat-raised-button (click)="openDialog()" class="btn btn-outline-primary" title="عرض حركات الاعتماد">
              حركات الاعتماد
              <svg width="16" height="16" fill="currentColor" class="bi bi-ui-checks-grid" viewBox="0 0 16 16">
                <path d="M2 10h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1zm9-9h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm0 9a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-3zm0-10a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2h-3zM2 9a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H2zm7 2a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2v-3zM0 2a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.354.854a.5.5 0 1 0-.708-.708L3 3.793l-.646-.647a.5.5 0 1 0-.708.708l1 1a.5.5 0 0 0 .708 0l2-2z" />
              </svg>
            </button>
          </div>
          <br />

        </div>
        <!--</form>-->
        <br />
        <br />

        <!--<div dir="ltr" lang="en" class="mb-4" style="margin-bottom:30%" *ngIf="AllTransactions?.length > 0&&TransactionSpecific.TransactionsNames?.length > 0 &&selectedTransaction==null">
    <table id="first-table" datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger1" class="table  table-bordered hover" style="width:100%">
      <thead>
        <tr style="text-align:right">
          <th>تاريخ</th>
          <th style="text-align:center">
            <span>الى</span>
            <div class="row">
              <div class="col-6">الاسم</div>
              <div class="col-6">النوع</div>
            </div>
          </th>
          <th style="text-align:center">
            <span>من</span>
            <br />
            <div class="row">
              <div class="col-6">الاسم</div>
              <div class="col-6">النوع</div>
            </div>
          </th>
          <th>الفرع</th>
          <th>كود</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr style="text-align:right" *ngFor="let trans of AllTransactions">
          <td>{{trans.TrnsDate}}</td>
          <td>
            <div class="row">
              <div class="col-6">{{trans.To_StoreAllcodesName}}</div>
              <div class="col-6">{{trans.TO_TypeName}}</div>
            </div>
          </td>
          <td>
            <div class="row">
              <div class="col-6">{{trans.From_StoreAllcodesName}}</div>
              <div class="col-6">{{trans.From_TypeName}}</div>
            </div>
          </td>
          <td>{{trans.branch}}</td>
          <td>{{trans.TrnsNo}}</td>
          <td>
            <div class="form-check" style="margin-right:25%">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="{{trans.StoreTrnsMId}}" (change)="getAllCheckedTransId($event,trans.StoreTrnsMId)" aria-label="نعم">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>-->
        <!--test another datatabel-->
        <div dir="ltr" lang="en" class="mb-4" style="margin-bottom:30%" *ngIf="selectedTransaction!=null&&productdetails?.length<0">
          <table id="second-table" datatable [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger2" class="table  table-bordered hover" style="width:100%">
            <thead>
              <tr style="text-align:right">
                <th>تاريخ</th>
                <th style="text-align:center">
                  <span>الى</span>
                  <div class="row">
                    <div class="col-6">الاسم</div>
                    <div class="col-6">النوع</div>
                  </div>
                </th>
                <th style="text-align:center">
                  <span>من</span>
                  <br />
                  <div class="row">
                    <div class="col-6">الاسم</div>
                    <div class="col-6">النوع</div>
                  </div>
                </th>
                <th>الفرع</th>
                <th>كود</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr style="text-align:right" *ngFor="let trans of TransactionsDetails">
                <td>{{trans.TrnsDate}}</td>
                <td>
                  <div class="row">
                    <div class="col-6">{{trans.To_StoreAllcodesName}}</div>
                    <div class="col-6">{{trans.TO_TypeName}}</div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-6">{{trans.From_StoreAllcodesName}}</div>
                    <div class="col-6">{{trans.From_TypeName}}</div>
                  </div>
                </td>
                <td>{{trans.branch}}</td>
                <td>{{trans.TrnsNo}}</td>
                <td>
                  <div class="form-check" style="margin-right:25%">
                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="{{trans.StoreTrnsMId}}" (change)="getAllCheckedTransId($event,trans.StoreTrnsMId)" aria-label="نعم">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


        <!-- ******************************************in View Part  عرض الحركات********************************************* -->
        <!-- Tabel view StoreTrans Dep -->
        <hr />
        <div dir="rtl" class="mb-4 text-right" style="margin-bottom:30%" *ngIf="selectedTransaction==null&&storeTransDep_VM?.length>0">

          <table class="table  table-bordered table-hover" style="width:100%">
            <thead class="bg-info">
              <tr style="text-align:right">
                <!--<th></th>-->
                <th class="text-center">كود</th>
                <th class="text-center">الفرع</th>
                <th style="text-align:center">
                  <span>من</span>
                  <br />
                  <div class="row">
                    <div class="col-6">الاسم</div>
                    <div class="col-6">النوع</div>
                  </div>
                </th>
                <th style="text-align:center">
                  <span>الى</span>
                  <div class="row">
                    <div class="col-6">الاسم</div>
                    <div class="col-6">النوع</div>
                  </div>
                </th>
                <th class="text-center">تاريخ</th>




              </tr>
            </thead>
            <tbody>
              <tr style="text-align:right" *ngFor="let trans of storeTransDep_VM ; let i = index">
                <!--<td><button class="btn btn-danger" value="trans" (click)="deleteMainRecord($index,trans.StoreTrnsMId)">حذف</button></td>-->
                <!--trans.StoreTrnsMId Wait from API-->
                <td class="text-center">{{trans.storeTrnsDepId}}</td>
                <td class="text-center">{{trans.branchName}}</td>

                <td>
                  <div class="row">
                    <div class="col-6">{{trans.from_StoreAllcodesName}}</div>
                    <div class="col-6">{{trans.from_TypeName}}</div>
                  </div>
                </td>


                <td>
                  <div class="row">
                    <div class="col-6">{{trans.to_StoreAllcodesName}}</div>
                    <div class="col-6">{{trans.tO_TypeName}}</div>
                  </div>
                </td>

                <td style="color:#130a80;text-decoration:underline" class="text-center">{{trans.trnsDate}}</td>

              </tr>
            </tbody>
          </table>
        </div>
        <!-- End of tabel view StoreTrans Dep -->
        <!-- -----------------------------tabel view StoreTrans details==(StoreTansO) Gray Gedaan LastTbl ----------------------------- -->
        <div dir="ltr" lang="en" class="mb-4" style="margin-bottom:30%" *ngIf="selectedTransaction==null&&storeTransDetails_VM.length>0">
          <table class="table  table-bordered table-hover " style="width:100%">
            <thead style="background-color:#306c77">
              <tr style="text-align:right">
                <th>تعديل</th>
                <th>ملاحظات</th>

                <th style="text-align:center">القيمة</th>

                <th style="text-align:center">الكمية</th>
                <th style="text-align:center">السعر</th>
                <th style="text-align:center">الوحدة</th>
                <th class="text-center">الصنف</th>
                <th class="text-center">المجموعه</th>
              </tr>
            </thead>
            <tbody>
              <tr style="text-align:center" *ngFor="let trans of storeTransDetails_VM ; let i = index">
                <td>
                  <!--<button class="btn btn-danger" value="trans" (click)="deleteProductRecord($index,trans.Store_Trns_M_ID)">حذف</button>-->
                  <button class="btn btn-outline-primary" *ngIf="operationType=='View'" [value]="trans" mat-raised-button (click)="EditDetails(trans)">

                    <svg width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                  </button>
                </td>
                <td><span>{{trans.notes}}</span></td>
                <td><span>{{trans.totalo}}</span></td>
                <td><span>{{trans.qty}}</span></td>
                <td><span>{{trans.unitPrice}}</span></td>
                <td>
                  <span> <span>{{trans.unit_Name}} </span>  </span>
                </td>
               
              <td>
                <span> {{trans.item_Name}}</span>
              </td>
               
                <td>
                  <span>{{trans.groupF_Id}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--End of tabel view StoreTrans details -->
        <!--  ******************************************in View Part  عرض الحركات*********************************************-->
        <!----------------------------- ((ADD Operation ))tabel view item selected Selected Dep-Transaction #لونه لبنى فاتح---------------------------------------- -->
        <div dir="ltr" lang="en" class="mb-4" style="margin-bottom:30%" *ngIf="productdetails?.length>0">
          <table class="table  table-bordered table-hover" style="width:100%">
            <thead class="bg-info">
              <tr style="text-align:right">
                <th>حذف</th>
                <th>تاريخ</th>
                <th style="text-align:center">
                  <span>الى</span>
                  <div class="row">
                    <div class="col-6">الاسم</div>
                    <div class="col-6">النوع</div>
                  </div>
                </th>
                <th style="text-align:center">
                  <span>من</span>
                  <br />
                  <div class="row">
                    <div class="col-6">الاسم</div>
                    <div class="col-6">النوع</div>
                  </div>
                </th>
                <th>الفرع</th>
                <th>كود الحركه</th>
              </tr>
            </thead>
            <tbody>
              <tr style="text-align:right" *ngFor="let trans of checkedTransactionsMain ; let i=index">
                <td>
                  <button class="btn btn-outline-danger" value="trans" (click)="deleteMainRecord(i,trans.StoreTrnsMId)" title="حذف">
                    <svg width="18" height="18" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                  </button>
                </td>
                <td style="color:#130a80;text-decoration:underline">{{trans.TrnsDate}}</td>
                <td>
                  <div class="row">
                    <div class="col-6">{{trans.To_StoreAllcodesName}}</div>
                    <div class="col-6">{{trans.TO_TypeName}}</div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-6">{{trans.From_StoreAllcodesName}}</div>
                    <div class="col-6">{{trans.From_TypeName}}</div>
                  </div>
                </td>
                <td>{{trans.branch}}</td>
                <td>{{trans.StoreTrnsMId}}</td>
              </tr>
            </tbody>
          </table>
        </div>



        <!-- tabel view product details  GrayTable-->
        <div dir="ltr" lang="en" class="mb-4 " style="margin-bottom:30%" *ngIf="selectedTransaction!=null&&productdetails?.length>0">
          <div dir="rtl" style="text-align:right">
            <button *ngIf="(selectedTransaction!=null || TransactionSpecific.TransactionDepSpec_VM.TransactionsNames?.length < 0) && ItemsAvailable==true" mat-raised-button (click)="openCategoryDialog()"
                    class="btn btn-outline-info" title="لاضافة اصنافــــ">
              الأصناف
              <svg width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill mr-1" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
              </svg>
            </button>
          </div>
          <table class="table  table-bordered table-hover table-condensed table-striped text-center">
            <thead style="background-color:#4c8eca">
              <tr >
                <th>حذف</th>
                <th>تعديل</th>
                <th>ملاحظات</th>

                <th >القيمة</th>
                <th >الكمية</th>
                <th >السعر</th>
                <th >الوحدة</th>

                <th>اسم الصنف</th>
                <th>كود</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trans of productdetails ;let i=index">

                <td>
                  <button class="btn btn-outline-danger mr-1" value="trans" (click)="deleteProductRecord(i,trans.store_Trns_M_ID)" title="حذف">

                    <svg width="18" height="18" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                  </button>
                </td>
                <td>




                  <button class="btn btn-outline-info" [value]="trans" mat-raised-button (click)="EditProduct(trans)" title="تعديل">
                    <svg width="18" height="18" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>

                  </button>
                </td>
                <td>{{trans.notes}}</td>

                <td>{{trans.totalo}}</td>
                <td>{{trans.qty}}</td>
                <td>{{trans.unitPrice}}</td>
                <td>{{trans.unit_Name}}</td>
                <td>{{trans.item_Name}}</td>
                <td>{{trans.itemId}}</td>

              </tr>
            </tbody>
          </table>
        </div>



        <button type="submit" class="btn btn-outline-success" [disabled]="transForm.invalid" (click)="addStoreTransaction()">
          حفظ

          <svg width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
          </svg>
        </button>

        <button type="button" class="btn btn-outline-danger m-1" [disabled]="true">
          حذف
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
          </svg>
        </button>


      </form>
    </div>
  </div>


</body>
</html>

