<p>currency-operation works!</p>
<!DOCTYPE html>
<html dir="rtl" lang="ar">


<body>

  <div class="container pt-5" style="text-align:right">

    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">الاسم العربى</th>
          <th scope="col">الاسم الانجليزى</th>
          <th scope="col">اسم العملة المختصر</th>
          <th scope="col">عرض تفاصيل العملة</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of CurrencyMaster">
          <td>{{item.Aname}}</td>
          <td>{{item.Ename}}</td>
          <td>{{item.Shortname}}</td>
          <td>
            <button class="btn btn-warning" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2" style="width:90%">&nbsp;&nbsp;عرض تفاصيل<span>&nbsp;&nbsp;{{item.Aname}}&nbsp;&nbsp;</span></button>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
              <div class="row">
                <div class="col">

                  <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  </div>

                </div>
                <div class="col">

                  <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  </div>

                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="container">
    <div class="col-md-12">
      <div class="panel panel-default">

        <div class="panel-body">
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Fist Name</th>
                <th>Last Name</th>
                <th>City</th>
                <th>State</th>
                <th>Status</th>
              </tr>
            </thead>

            <tbody>

              <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
                <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                <td>Silvio</td>
                <td>Santos</td>
                <td>São Paulo</td>
                <td>SP</td>
                <td> new</td>
              </tr>
              <tr>
                <td colspan="6" class="hiddenRow"><div id="demo2" class="accordian-body collapse">Demo2</div></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>








  <div class="container" style="text-align:right">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table  table-bordered table-hover">
      <thead style="background-color:black !important">
        <tr>
          <th>الاسم العربى</th>
          <th>الاسم الانجليزى</th>
          <th>اسم العملة المختصر</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of CurrencyMaster">
          <td>{{item.Aname}}</td>
          <td>{{item.Ename}}</td>
          <td>{{item.Shortname}}</td>
        </tr>
      </tbody>
    </table>

  </div>

</body>
</html>
