<p>all-transactions works!</p>
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />




</head>
<body>
  <div class="container pt-5">
    <div class="mb-3" style="text-align:right">
      <a [routerLinkActive]="['link-active']" [routerLink]="['/transaction-specific',1]" class="btn btn-success" style="text-align:right">اضافة حركة جديدة</a>
    </div>
    <div class="main">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table  table-bordered hover" style="width:100%">
        <thead>
          <tr style="text-align:right">
            <th></th>
            <th>تاريخ</th>
            <th style="text-align:center">
              <span>الى</span>
              <div class="row">
                <div class="col-6">الاسم</div>
                <div class="col-6">النوع</div>
              </div>
            </th>
            <th style="text-align:center">
            <span>من</span>
            <br/>
            <div class="row">
              <div class="col-6">الاسم</div>
              <div class="col-6">النوع</div>
            </div>
            </th>
            <th>الفرع</th>
            <th>كود</th>
          </tr>
        </thead>
        <tbody>
          <tr style="text-align:right" *ngFor="let trans of alltransactions">
            <td><a class="btn btn-info">عرض</a></td>
            <td>{{trans.TrnsDate}}</td>
            <td>
              <div class="row">
                <div class="col-6">{{trans.To_StoreAllcodesName}}</div>
                <div class="col-6">{{trans.TO_TypeName}}</div>
              </div>
            </td>
            <td>
              <div class="row">
                <div class="col-6">{{trans.From_StoreAllcodesName}}</div>
                <div class="col-6">{{trans.From_TypeName}}</div>
              </div>
            </td>
            <td>{{trans.branch}}</td>
            <td>{{trans.TrnsNo}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>





  <router-outlet></router-outlet>
</body>
</html>


