
<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
  <meta charset="utf-8">
  <link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet" />

  <link href="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" rel="stylesheet" />

  <link href="https://cdn.syncfusion.com/ej2/ej2-inputs/styles/material.css" rel="stylesheet" />

  <link href="https://cdn.syncfusion.com/ej2/ej2-popups/styles/material.css" rel="stylesheet" />

  <link href="https://cdn.syncfusion.com/ej2/ej2-lists/styles/material.css" rel="stylesheet" />

  <link href="https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css" rel="stylesheet" />
  <style>
  </style>
</head>

<body>
  <div class="container">

    <div class="mb-5" style="background-color:lightblue"><h3 style="text-align:center"><span>{{TransactionSpecific.TrnsCode}}&nbsp;&nbsp;{{TransactionSpecific.Aname}}</span></h3></div>

    <div>
      <form>
        <div class="row col-12">
          <div class="form-group row col-6">
            <label for="inputState" class="col-sm-3 col-form-label" style="text-align:right">الفرع</label>
            <div class="col-sm-8">
              <select id="inputState" class="form-control" style="text-align:right">
                <option *ngFor="let item of TransactionSpecific?.Branches.Result" value="{{item.BRANCH_ID}}">{{item.BRANCH_NAME}}</option>
              </select>
            </div>
          </div>


          <div class="form-group row col-6 mr-4">
            <label for="inputPassword" class="col-sm-4 col-form-label" style="text-align:right">رقم {{TransactionSpecific.Aname}}</label>
            <div class="col-sm-8">
              <input class="form-control" id="inputPassword" placeholder="{{TransactionSpecific.StoreTransMax}}">
            </div>
          </div>
        </div>


        <div class="row col-12">
          <div class="form-group row col-6">
            <label for="inputPassword" class="col-sm-3 col-form-label" style="text-align:right">الرقم الدفترى</label>
            <div class="col-sm-8">
              <input class="form-control" id="inputPassword" placeholder="{{TransactionSpecific.StoreTransMax}}">
            </div>
          </div>


          <div class="form-group row col-6 mr-4">
            <label for="inputPassword" class="col-sm-3 col-form-label" style="text-align:right">التاريخ</label>
            <div class="col-sm-8 mr-4">
              <ejs-datetimepicker id='datetimepicker' placeholder='Select a date' [value]='dateValue' [min]='minDate' [max]='maxDate' style="width:100%"></ejs-datetimepicker>
            </div>
          </div>
        </div>

        <!--div contain من , الي-->
        <div class="row col-12" *ngIf="TransactionSpecific.To_Type?.length > 0||TransactionSpecific.ToTypeDetails?.length > 0">
          <div class="form-group row col-6" *ngIf="TransactionSpecific.From_Type?.length > 0">
            <label for="inputPassword" class="col-sm-3 col-form-label" style="text-align:right">من</label>
            <div class="col-sm-8">
              <select class="form-control" style="text-align:right">
                <option *ngFor="let item of TransactionSpecific.From_Type" value="{{item.TYPE_ID}}">{{item.TYPE_NAME}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row col-6 mr-4">
            <label for="inputPassword" class="col-sm-4 col-form-label" style="text-align:right">تفاصيل من</label>
            <div class="col-sm-8">
              <select class="form-control" style="text-align:right">
                <option *ngFor="let item of TransactionSpecific.FromTypeDetails">{{item.Aname}}</option>
              </select>
            </div>
          </div>
        </div>


        <!--[ngClass]="{'mr-4': TransactionSpecific.From_Type?.length > 0 }">
        [ngClass]="TransactionSpecific.From_Type?.length > 0 ? 'col-sm-4' : 'col-sm-3'">-->

        <div class="row col-12" *ngIf="TransactionSpecific.To_Type?.length > 0||TransactionSpecific.ToTypeDetails?.length > 0">
          <div class="form-group row col-6 " *ngIf="TransactionSpecific.To_Type?.length > 0" >
            <label for="inputPassword" class="col-sm-3 col-form-label" style="text-align:right" >الى</label>
            <div class="col-sm-8">
              <select id="inputState" class="form-control" style="text-align:right">
                <option *ngFor="let item of TransactionSpecific.To_Type" value="{{item.TYPE_ID}}">{{item.TYPE_NAME}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row col-6 mr-4">
            <label for="inputPassword" class="col-sm-4 col-form-label" style="text-align:right">تفاصيل الي</label>
            <div class="col-sm-8">
              <select id="inputState" class="form-control" style="text-align:right">
                <option *ngFor="let item of TransactionSpecific.ToTypeDetails" value="{{item.Code}}">{{item.Aname}}</option>
              </select>
            </div>
          </div>
        </div>
        <!--End of div contain من , الي-->

        <div class="form-group row">
          <label for="exampleFormControlTextarea" class="col-sm-2 col-form-label" style="text-align:right">ملاحظات</label>
          <div class="col-sm-9" style="text-align:right;padding-left:0%;margin-left:1%">
            <textarea class="form-control" id="exampleFormControlTextarea"></textarea>
          </div>
        </div>


        <hr />
        <br />
        <!--<h5 style="text-align:right">تفاصيل المحصول</h5>
  <br />

  <div class="form-group row" *ngIf="TransactionSpecific.Typeid==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">نوع المحصول</label>
    <div class="col-sm-9">
      <div class="row">
        <div class="col">
          <select id="inputState" class="form-control" style="text-align:right">
            <option selected></option>
            <option>...</option>
          </select>
        </div>
        <div class="col">
          <select id="inputState" class="form-control" style="text-align:right">
            <option selected></option>
            <option>...</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="TransactionSpecific.Irrigationneed==true" style="text-align:right">
    هل التسميد يستوجب الري
    <div class="form-check" style="margin-right:25%">
      نعم
      <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="نعم">
    </div>

    <div class="form-check" style="margin-right:25%">
      لا
      <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="لا" style="margin-right:1.7%">
    </div>
  </div>



  <div class="row col-12" *ngIf="TransactionSpecific.Weathercond==true||TransactionSpecific.Agridataid==true">
    <div class="form-group row col-6" *ngIf="TransactionSpecific.Weathercond==true">
      <label class="col-sm-3 col-form-label" style="text-align:right">حالة الطقس</label>
      <div class="col-sm-8">
        <select id="inputState" class="form-control" style="text-align:right">
          <option selected></option>
          <option>...</option>
        </select>
      </div>
    </div>


    <div class="form-group row col-6 mr-4" *ngIf="TransactionSpecific.Agridataid==true">
      <label class="col-sm-4 col-form-label" style="text-align:right">اسم الزرعه</label>
      <div class="col-sm-8">
        <select id="inputState" class="form-control" style="text-align:right">
          <option selected></option>
          <option>...</option>
        </select>
      </div>
    </div>
  </div>



  <div class="row col-12" *ngIf="TransactionSpecific.Managername==true||TransactionSpecific.Employeeno==true">
    <div class="form-group row col-6" *ngIf="TransactionSpecific.Managername==true">
      <label class="col-sm-3 col-form-label" style="text-align:right">اسم المسئول</label>
      <div class="col-sm-8">
        <input class="form-control" type="text">
      </div>
    </div>

    <div class="form-group row col-6 mr-4" *ngIf="TransactionSpecific.Employeeno==true">
      <label class="col-sm-4 col-form-label" style="text-align:right">عدد العمال</label>
      <div class="col-sm-8">
        <input class="form-control" type="text">
      </div>
    </div>
  </div>


  <div class="row col-12">
    <div class="form-group row col-6" *ngIf="TransactionSpecific.Irrigatemachine==true">
      <label class="col-sm-3 col-form-label" style="text-align:right">ماكينة الري</label>
      <div class="col-sm-8">
        <input class="form-control" type="text">
      </div>
    </div>


    <div class="form-group row col-6 mr-4" *ngIf="TransactionSpecific.Soilcond==true">
      <label class="col-sm-4 col-form-label" style="text-align:right">حالة التربة</label>
      <div class="col-sm-8">
        <select id="inputState" class="form-control" style="text-align:right">
          <option selected></option>
          <option>...</option>
        </select>
      </div>
    </div>
  </div>
  <hr />




  <h5 style="text-align:right">تفاصيل الاستلام</h5>
  <br />




  <div class="form-group row" *ngIf="TransactionSpecific.Receivedate==true">
    <label for="inputPassword" class="col-sm-3 col-form-label" style="text-align:right">تاريخ الاستلام</label>
    <div class="col-sm-9">
      <ejs-datetimepicker id='datetimepicker' placeholder='Select a date' [value]='dateValue' [min]='minDate' [max]='maxDate' style="width:90%"></ejs-datetimepicker>
    </div>
  </div>



  <div class="form-group row" *ngIf="TransactionSpecific.Paymenttype==true">
    <label for="inputState" class="col-sm-3 col-form-label" style="text-align:right">طريقة السداد</label>
    <div class="col-sm-9">
      <select id="inputState" class="form-control" style="text-align:right">
        <option selected>ad</option>
        <option>...</option>
      </select>
    </div>
  </div>



  <div class="form-group row" *ngIf="TransactionSpecific.Deliveryplace==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">مكان التسليم</label>
    <div class="col-sm-9">
      <input class="form-control" type="text">
    </div>
  </div>
  <hr />
  <h5 style="text-align:right">تفاصيل وصول الشجنة</h5>

  <div class="form-group row" *ngIf="TransactionSpecific.Cargoexpected==true">
    <label for="inputPassword" class="col-sm-3 col-form-label" style="text-align:right">تاريخ وصول أوراق الشحنة</label>
    <div class="col-sm-9">
      <ejs-datetimepicker id='datetimepicker' placeholder='Select a date' [value]='dateValue' [min]='minDate' [max]='maxDate' style="width:90%"></ejs-datetimepicker>
    </div>
  </div>



  <div class="form-group row" *ngIf="TransactionSpecific.Cargoactually==true">
    <label for="inputPassword" class="col-sm-3 col-form-label" style="text-align:right">التاريخ الفعلي لوصول أوراق الشحنه</label>
    <div class="col-sm-9">
      <ejs-datetimepicker id='datetimepicker' placeholder='Select a date' [value]='dateValue' [min]='minDate' [max]='maxDate' style="width:90%"></ejs-datetimepicker>
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.Portarrival==true">
    <label for="inputPassword" class="col-sm-3 col-form-label" style="text-align:right">تاريخ وصول الميناء</label>
    <div class="col-sm-9">
      <ejs-datetimepicker id='datetimepicker' placeholder='Select a date' [value]='dateValue' [min]='minDate' [max]='maxDate' style="width:90%"></ejs-datetimepicker>
    </div>
  </div>



  <div *ngIf="TransactionSpecific.Cargopaper==true" style="text-align:right">
    حالة وصول أوراق الشحنة
    <div class="form-check" style="margin-right:25%">
      نعم
      <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="نعم">
    </div>

    <div class="form-check" style="margin-right:25%">
      لا
      <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="لا" style="margin-right:1.7%">
    </div>
  </div>
  <hr />



  <h5 style="text-align:right"> الحساب</h5>
  <br />


  <div class="form-group row" *ngIf="TransactionSpecific.MainAccount==1">
    <label class="col-sm-3 col-form-label" style="text-align:right">الحساب</label>
    <div class="col-sm-9">
      <input class="form-control" type="text">
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.MainCostCenter==1">
    <label class="col-sm-3 col-form-label" style="text-align:right">مركز التكلفة</label>
    <div class="col-sm-9">
      <select id="inputState" class="form-control" style="text-align:right">
        <option selected></option>
        <option>...</option>
      </select>
    </div>
  </div>


  <hr />
  <h5 style="text-align:right">تفاصيل الشحن</h5>
  <br />


  <div class="form-group row" *ngIf="TransactionSpecific.Shippolino==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">رقم بوليصة الشحن</label>
    <div class="col-sm-9">
      <input class="form-control" type="text">
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.Shipweekno==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">رقم الاسبوع	</label>
    <div class="col-sm-9">
      <input class="form-control" type="text">
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.Patchno==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">رقم التشغيله	</label>
    <div class="col-sm-9">
      <input class="form-control" type="text">
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.Shiplotno==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">رقم اللوط	</label>
    <div class="col-sm-9">
      <input class="form-control" type="text">
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.SHIPCO==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">شركة الشحن</label>
    <div class="col-sm-9">
      <select id="inputState" class="form-control" style="text-align:right">
        <option selected></option>
        <option>...</option>
      </select>
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.Shiptrns==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">شركة النقل</label>
    <div class="col-sm-9">
      <select id="inputState" class="form-control" style="text-align:right">
        <option selected></option>
        <option>...</option>
      </select>
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.Clearanceco==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">شركة تخليص</label>
    <div class="col-sm-9">
      <select id="inputState" class="form-control" style="text-align:right">
        <option selected></option>
        <option>...</option>
      </select>
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.Shipport==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">ميناء الشحن</label>
    <div class="col-sm-9">
      <select id="inputState" class="form-control" style="text-align:right">
        <option selected></option>
        <option>...</option>
      </select>
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.Arrivalport==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">ميناء الوصول</label>
    <div class="col-sm-9">
      <select id="inputState" class="form-control" style="text-align:right">
        <option selected></option>
        <option>...</option>
      </select>
    </div>
  </div>


  <div class="form-group row" *ngIf="TransactionSpecific.Shipboat==true">
    <label class="col-sm-3 col-form-label" style="text-align:right">اسم مركب الشحن</label>
    <div class="col-sm-9">
      <select id="inputState" class="form-control" style="text-align:right">
        <option selected></option>
        <option>...</option>
      </select>
    </div>
  </div>-->



        <div class="form-group row" *ngIf="TransactionSpecific.TransactionsNames?.length > 0">
          <label class="col-sm-2 col-form-label" style="text-align:right">يعتمد على</label>
          <div class="col-sm-7">
            <select id="my_select" data-default-value="..." class="form-control" style="text-align:right" (change)="selectChangeHandler($event)">

              <option selected="selected" value="..." >...</option>
              <option *ngFor="let item of TransactionSpecific.TransactionsNames" value="{{item.Transaction_Id}}">{{item.Transaction_Name}}</option>
            </select>
          </div>
          <div class="col-sm-2">
            <!-- open dialog button -->
            <button *ngIf="selectedTransaction!=null" mat-raised-button (click)="openDialog()" class="btn btn-info">عرض الحركات</button>

          </div>
        </div>
        <!--</form>-->
        <br />
        <br />

        <!--<div dir="ltr" lang="en" class="mb-4" style="margin-bottom:30%" *ngIf="AllTransactions?.length > 0&&TransactionSpecific.TransactionsNames?.length > 0 &&selectedTransaction==null">
    <table id="first-table" datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger1" class="table  table-bordered hover" style="width:100%">
      <thead>
        <tr style="text-align:right">
          <th>تاريخ</th>
          <th style="text-align:center">
            <span>الى</span>
            <div class="row">
              <div class="col-6">الاسم</div>
              <div class="col-6">النوع</div>
            </div>
          </th>
          <th style="text-align:center">
            <span>من</span>
            <br />
            <div class="row">
              <div class="col-6">الاسم</div>
              <div class="col-6">النوع</div>
            </div>
          </th>
          <th>الفرع</th>
          <th>كود</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr style="text-align:right" *ngFor="let trans of AllTransactions">
          <td>{{trans.TrnsDate}}</td>
          <td>
            <div class="row">
              <div class="col-6">{{trans.To_StoreAllcodesName}}</div>
              <div class="col-6">{{trans.TO_TypeName}}</div>
            </div>
          </td>
          <td>
            <div class="row">
              <div class="col-6">{{trans.From_StoreAllcodesName}}</div>
              <div class="col-6">{{trans.From_TypeName}}</div>
            </div>
          </td>
          <td>{{trans.branch}}</td>
          <td>{{trans.TrnsNo}}</td>
          <td>
            <div class="form-check" style="margin-right:25%">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="{{trans.StoreTrnsMId}}" (change)="getAllCheckedTransId($event,trans.StoreTrnsMId)" aria-label="نعم">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>-->
        <!--test another datatabel-->
        <div dir="ltr" lang="en" class="mb-4" style="margin-bottom:30%" *ngIf="selectedTransaction!=null&&productdetails?.length<0">
          <table id="second-table" datatable [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger2" class="table  table-bordered hover" style="width:100%">
            <thead>
              <tr style="text-align:right">
                <th>تاريخ</th>
                <th style="text-align:center">
                  <span>الى</span>
                  <div class="row">
                    <div class="col-6">الاسم</div>
                    <div class="col-6">النوع</div>
                  </div>
                </th>
                <th style="text-align:center">
                  <span>من</span>
                  <br />
                  <div class="row">
                    <div class="col-6">الاسم</div>
                    <div class="col-6">النوع</div>
                  </div>
                </th>
                <th>الفرع</th>
                <th>كود</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr style="text-align:right" *ngFor="let trans of TransactionsDetails">
                <td>{{trans.TrnsDate}}</td>
                <td>
                  <div class="row">
                    <div class="col-6">{{trans.To_StoreAllcodesName}}</div>
                    <div class="col-6">{{trans.TO_TypeName}}</div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-6">{{trans.From_StoreAllcodesName}}</div>
                    <div class="col-6">{{trans.From_TypeName}}</div>
                  </div>
                </td>
                <td>{{trans.branch}}</td>
                <td>{{trans.TrnsNo}}</td>
                <td>
                  <div class="form-check" style="margin-right:25%">
                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="{{trans.StoreTrnsMId}}" (change)="getAllCheckedTransId($event,trans.StoreTrnsMId)" aria-label="نعم">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- tabel view item selected -->
        <div dir="ltr" lang="en" class="mb-4" style="margin-bottom:30%" *ngIf="productdetails?.length>0">
          <table class="table  table-bordered hover" style="width:100%">
            <thead>
              <tr style="text-align:right">
                <th></th>
                <th>تاريخ</th>
                <th style="text-align:center">
                  <span>الى</span>
                  <div class="row">
                    <div class="col-6">الاسم</div>
                    <div class="col-6">النوع</div>
                  </div>
                </th>
                <th style="text-align:center">
                  <span>من</span>
                  <br />
                  <div class="row">
                    <div class="col-6">الاسم</div>
                    <div class="col-6">النوع</div>
                  </div>
                </th>
                <th>الفرع</th>
                <th>كود</th>
              </tr>
            </thead>
            <tbody>
              <tr style="text-align:right" *ngFor="let trans of checkedTransactionsMain">
                <td><button class="btn btn-danger"  value="trans" (click)="deleteMainRecord($index,trans.StoreTrnsMId)">حذف</button></td>
                <td>{{trans.TrnsDate}}</td>
                <td>
                  <div class="row">
                    <div class="col-6">{{trans.To_StoreAllcodesName}}</div>
                    <div class="col-6">{{trans.TO_TypeName}}</div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-6">{{trans.From_StoreAllcodesName}}</div>
                    <div class="col-6">{{trans.From_TypeName}}</div>
                  </div>
                </td>
                <td>{{trans.branch}}</td>
                <td>{{trans.TrnsNo}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- tabel view product details -->
        <div dir="ltr" lang="en" class="mb-4" style="margin-bottom:30%" *ngIf="selectedTransaction!=null&&productdetails?.length>0">
          <table class="table  table-bordered hover" style="width:100%">
            <thead>
              <tr style="text-align:right">
                <th></th>
                <th>ملاحظات</th>
                <th style="text-align:right">الوحدة</th>
                <!--<th style="text-align:right">القيمة</th>
                <th style="text-align:right">السعر</th>-->
                <th style="text-align:right">الكمية</th>
                <th>الاسم</th>
                <th>كود</th>
              </tr>
            </thead>
            <tbody>
              <tr style="text-align:right" *ngFor="let trans of productdetails">
                <td><button class="btn btn-danger" value="trans" (click)="deleteProductRecord($index,trans.Store_Trns_M_ID)">حذف</button></td>
                <td><input type="text" id="Note" value="{{trans.Note}}" style="width:100%" /></td>
                <td>{{trans.Unit_Name}}</td>
                <!--<td><input type="text" id="value" placeholder="{{trans.Value}}" style="width:50%" /></td>
                <td><input type="text" id="price" value="{{trans.Price}}" style="width:50%" (keyup)="onKeyPrice($event)"/></td>-->
                <td><input type="text" id="quantity" value="{{trans.Quantity}}" style="width:50%" (keyup)="onKeyQuantity($event)"/></td>
                <td>{{trans.Item_Name}}</td>
                <td>{{trans.Item_ID}}</td>

              </tr>
            </tbody>
          </table>
        </div>




      </form>
    </div>
  </div>


</body>
</html>

