<p>main works!</p>
<div class="row col mr-2">
  <div *ngFor="let item of application_VM; let RowIndex = index" class="col-4 mt-2">
    <div class="card" (click)="GetAPPId(item.appId)">
      <div class="card-body text-center">
        <p>
          <img class=" img-fluid" src="'../../../../../../../assets/Images/bank{{RowIndex+1}}.jpg" style="width:100%;height:200px" alt="card image">
        </p>
        </div>
      <div style="text-align:center; background-color:honeydew">
        <h4 class="card-title" style="color: black">{{item.appName}}</h4>
      </div>
    </div>
  </div>
</div>
