<p>dialog-for-category works!</p>
<!DOCTYPE html>
<html dir="rtl" lang="ar">
<body>
  <mat-dialog-content class="mat-typography">
    <!-- Form start -->
    <div class="container">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" style="text-align:right">المجموعات</label>
      <div class="col-8">
        <ng-select bindLabel="Aname"
                   name="GroupFName"
                   placeholder="Select item"
                   [searchable]="true"
                   [clearable]="true"
                   [(ngModel)]="GroupId"
                   (change)="GroupfChange($event)">
          <ng-option [value]="item.GroupF_Id" [disabled]="item.disabled" *ngFor="let item of GroupF">

            {{item.Aname}}
          </ng-option>
        </ng-select>
      </div>
    </div>


    <!-- contain filter items array only show when Group Change-->
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" style="text-align:right">الأصناف</label>
      <div class="col-8" *ngIf="GroupFChanged==true">
        <ng-select bindLabel="name"
                   name="ITEM"
                   placeholder="Select item"
                   [searchable]="true"
                   [(ngModel)]="ItemId"
                   (change)="ItemsChange($event)">
          <ng-option [value]="item.itemId" [disabled]="item.disabled" *ngFor="let item of itemsFilter">
            {{item.name}}
          </ng-option>
        </ng-select>
      </div>

      <!--show by default when edit and add button clicked  -->
      <div class="col-8" *ngIf="GroupFChanged == false||EditingClick==true">
        <ng-select bindLabel="name"
                   name="ITEM"
                   placeholder="Select item"
                   [searchable]="true"
                   [(ngModel)]="UniteId"
                   (change)="ItemsChange($event)">
          <ng-option [value]="item.itemId" [disabled]="item.disabled" *ngFor="let item of items_VM">
            {{item.name}}
          </ng-option>
        </ng-select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label" style="text-align:right">الوحدات</label>
      <!--show by default when edit and add button clicked  -->
      <div class="col-8" *ngIf="ItemChanged==false||EditingClick==true">
        <ng-select bindLabel="name"
                   name="unite"
                   placeholder="Select item"
                   [searchable]="true"
                   [clearable]="true"
                   [(ngModel)]="UniteId"
                   (change)="UnitesChange($event)">
          <ng-option [value]="item.uniteId" [disabled]="item.disabled" *ngFor="let item of unites_VMs">

            {{item.name}}
          </ng-option>
        </ng-select>
      </div>
      <!-- contain filter unites array only show when item Change-->
      <div class="col-8" *ngIf="ItemChanged==true">
        <ng-select bindLabel="name"
                   name="unite"
                   placeholder="Select item"
                   [searchable]="true"
                   [clearable]="true"
                   [(ngModel)]="UniteId"
                   (change)="UnitesChange($event)">
          <ng-option [value]="item.uniteId" [disabled]="item.disabled" *ngFor="let item of unitesFilter">

            {{item.name}}
          </ng-option>
        </ng-select>
      </div>
    </div>

    <div class="form-group row col-12">
      <label class="col-sm-4 col-form-label" style="text-align:right">الكمية</label>
      <div class="col-sm-8">
        <input type="text" id="Quantity" name="Quantity" value="quantity" (keyup)="onKeyQuantity($event)" [(ngModel)]="quantity" style="width:70% ; text-align:right" />
      </div>
    </div>

    <div class="form-group row col-12">
      <label class="col-sm-4 col-form-label" style="text-align:right">سعر الوحدة</label>
      <div class="col-sm-8">
        <input type="text" id="Price" name="Price" value="unitPrice" (keyup)="onKeyPrice($event)" [(ngModel)]="unitPrice" style="width:70% ; text-align:right" />
      </div>
    </div>

    <div class="form-group row col-12">
      <label class="col-sm-4 col-form-label" style="text-align:right">القيمة</label>
      <div class="col-sm-8">
        <input type="text" id="value" name="value" value="totalo" [(ngModel)]="totalo" style="width:70%; text-align:right" />
      </div>
    </div>
    <button class="btn btn-success" (click)="SaveOneRow()">ادراج</button>
</div>

    <!-- Form End -->

    <!-- -----------------*****************Tabel for Details created or dependant details if founded**********-------- --->
    <div dir="ltr" lang="en" class="mb-4" style="margin-bottom:30%">
      <table class="table  table-bordered table-hover table-condensed table-striped">
        <thead class="bg-secondary">
          <tr style="text-align:right">
            <th>حذف</th>
            <th>تعديل</th>
            <th>ملاحظات</th>
            <th style="text-align:right">الوحدة</th>
            <th style="text-align:right">القيمة</th>
            <th style="text-align:right">السعر</th>
            <th style="text-align:right">الكمية</th>
            <th>الاسم</th>
            <th>كود</th>
          </tr>
        </thead>
        <tbody>
          <tr style="text-align:right" *ngFor="let trans of storeTransDetails_VM; let i=index">

            <td>
              <button class="btn btn-outline-danger mr-1" value="trans" (click)="deleteProductRecord($index,trans.Store_Trns_M_ID)" title="حذف">

                <svg width="18" height="18" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
              </button>
            </td>
            <td>




              <button class="btn btn-outline-info"  mat-raised-button (click)="EditProduct(i)" title="تعديل">
                <svg width="18" height="18" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>

              </button>
            </td>
            <td><input class="form-control" type="text" id="Note" value="{{trans.notes}}" style="width:50%" /></td>
            <td>{{trans.unit_Name}}</td>
            <td><input class="form-control" type="text" id="value" value="{{trans.totalo}}" style="width:50%" /></td>
            <td><input class="form-control" type="text" id="price" value="{{trans.unitPrice}}" style="width:50%" /></td>
            <td><input class="form-control" type="text" id="quantity" value="{{trans.qty}}" style="width:50%" /></td>
            <td>{{trans.item_Name}}</td>
            <td>{{trans.itemId}}</td>

          </tr>
        </tbody>
      </table>
    </div>

    <!-- End of Tabel -->

    <!--<div class="form-group row col-12">
    <label for="qty" class="col-sm-4 col-form-label" style="text-align:right">الكمية</label>
    <div class="col-sm-8">
      <input type="text" id="quantity" name="quantity" value="item.qty" (keyup)="onKeyQuantity($event,i)" [(ngModel)]="storeTransDetails_VM[i].qty" style="width:70% ; text-align:right" />
    </div>
  </div>


  <div class="form-group row col-12">
    <label for="unitPrice" class="col-sm-4 col-form-label" style="text-align:right">سعر الوحدة</label>
    <div class="col-sm-8">
      <input type="text" id="price" name="price" value="item.unitPrice" (keyup)="onKeyPrice($event,i)" [(ngModel)]="storeTransDetails_VM[i].unitPrice" style="width:70% ; text-align:right" />
    </div>
  </div>

  <div class="form-group row col-12">
    <label for="totalo" class="col-sm-4 col-form-label" style="text-align:right">القيمة</label>
    <div class="col-sm-8">
      <input type="text" id="value" name="value" value="item.totalo" [(ngModel)]="storeTransDetails_VM[i].totalo" style="width:70%; text-align:right" />
    </div>
  </div>-->
    <!--<table class="table  table-bordered hover" style="width:100%">
    <thead>
      <tr style="text-align:right">
        <th style="text-align:center">
          الصنف
        </th>
        <th>
          الاسم
        </th>
        <th>
          الوحدة
        </th>
        <th>
          السعر
        </th>
        <th>
          الكمية
        </th>
        <th>
          القيمة
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of storeTransDetails_VM; let i = index">
        <td>
          <div class="form-group">
            <ng-select bindLabel="Aname"
                       name="GroupFName"
                       placeholder="Select item"
                       [searchable]="true"
                       [clearable]="true"
                       [(ngModel)]="storeTransDetails_VM[i].groupF_Id"
                       (change)="GroupfChange($event,i)">
              <ng-option [value]="item.GroupF_Id" [disabled]="item.disabled" *ngFor="let item of GroupF">

                {{item.Aname}}
              </ng-option>
            </ng-select>
          </div>
        </td>
        <td>
          <div class="form-group" *ngIf="GroupFChanged==true">
            <ng-select bindLabel="name"
                       name="ITEM"
                       placeholder="Select item"
                       [searchable]="true"
                       [(ngModel)]="storeTransDetails_VM[i].itemId"
                       (change)="ItemsChange($event,i)"
                       >
              <ng-option [value]="item.itemId" [disabled]="item.disabled" *ngFor="let item of items_VM">
                {{item.name}}
              </ng-option>
            </ng-select>
          </div>
        </td>
        <td>
          <div class="form-group">
            <ng-select bindLabel="name"
                       name="unite"
                       placeholder="Select item"
                       [searchable]="true"
                       [clearable]="true"
                       (change)="UnitesChange(i)"
                       [(ngModel)]="storeTransDetails_VM[i].unitId">
              <ng-option [value]="item.uniteId" [disabled]="item.disabled" *ngFor="let item of unites_VMs">

                {{item.name}}
              </ng-option>
            </ng-select>
          </div>
        </td>
        <td><input type="text" id="price" name="price" value="item.unitPrice" (keyup)="onKeyPrice($event,i)" [(ngModel)]="storeTransDetails_VM[i].unitPrice" style="width:70% ; text-align:right" /></td>
        <td><input type="text" id="quantity" name="quantity" value="item.qty" (keyup)="onKeyQuantity($event,i)" [(ngModel)]="storeTransDetails_VM[i].qty" style="width:70% ; text-align:right" /></td>
        <td><input type="text" id="value" name="value" value="item.totalo"  [(ngModel)]="storeTransDetails_VM[i].totalo" style="width:70%; text-align:right" /></td>
      </tr>



    </tbody>
  </table>-->
  </mat-dialog-content>
  <mat-dialog-actions >
    <button mat-button class="btn btn-danger" (click)="onNoClick()">اغلاق</button>
    <button mat-button [mat-dialog-close]="storeTransDetails_VM" cdkFocusInitial class="btn btn-success mr-3" style="text-align:right">موافق</button>
  </mat-dialog-actions>
</body>
</html>
